.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 2em;
    text-align: center;
    border: 2px solid #eaff00;
    border-radius: 15px;
    margin: 0 7em;
    margin-bottom: 5em;
}

.registration:hover {
    background-color: black;
}

.register-title {
    color: #f1f4f7;
}

.registration form {
    width: 60%;
}

.registration label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.1rem;
    color: #f1f4f7;
}

.registration fieldset input,
.registration select,
.registration textarea {
    width: 90%;
    padding: 1em;
    margin-bottom: 1.5em;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

input:invalid,
option:invalid,
textarea:invalid {
    background-color: rgb(255, 255, 240);
    outline: 2px solid rgb(255, 0, 0);
}

.registration button {
    background-color: #eaff00;
    color: #101010;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 2em;
}

.registration button:hover {
    background-color: #f7df1e;
    color: #101010;
}

@media (max-width: 768px) {
    .registration {
        margin: 0 2%;
        padding: 1.5em;
        margin-bottom: 5em;
    }
    /* main {
        margin-bottom: 50%;
    } */
    footer {
        margin-top: 5em;
    }
    .registration form {
        width: 90%;
    }
    .register-title {
        font-size: 1.4rem;
    }
    .registration label,
    .registration button {
        font-size: 1rem;
    }
}
