.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 2em;
    text-align: center;
    border: 2px solid #eaff00;
    border-radius: 15px;
    margin: 2em 7em;
}

.registration:hover {
    background-color: black;
}

.register-title {
    color: #f1f4f7;
}

.registration form {
    width: 60%;
}

.registration label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.1rem;
    color: #f1f4f7;
}

.registration input,
.registration select {
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.registration button {
    background-color: #eaff00;
    color: #101010;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.registration button:hover {
    background-color: #f7df1e;
    color: #101010;
}
