header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    flex: 1;

    /* width: 100%; */
}

.logo a {
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: gray;
}
