body {
    font-family: 'Poppins', system-ui;
    background-color: #343a40;
    color: #f8f9fa;
    background-image: url(../images/background.jpg);
    height: 150vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(15px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    flex: 1;
    width: 100%;
}

@media (max-width: 480px) {
    header {
        display: grid;
        grid-template-rows: 1fr;
    }
}

/* Logo style */

.logo.outlined {
    padding: 0.5em 1em;
    border: 2px solid #eaff00;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
}

.logo.outlined a {
    text-decoration: none;
    color: #f8f9fa;
    font-family: 'Poppins', system-ui;
    transition: 1s;
    text-shadow: 1px 1px rgb(51, 61, 2);
}

.logo.outlined a:hover {
    color: #101010;
    text-shadow: none;
}

.logo.outlined:hover {
    background-color: #ccff00;
    border-color: #0056b3;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    border-radius: 12px;
    border: 2px solid transparent;
}

nav ul li > *:hover {
    border-color: #ced4da;
    background-color: rgb(209, 219, 228);
    color: rgb(78, 77, 77);
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #f8f9fa;
    padding: 0.5em 1em;
    transition: 0.5s;
}

/* Style for Intro starts here */

.intro {
    margin: 1em 2em;
    padding: 1em 2em;
    /* backdrop-filter: blur(10px); */
    border-radius: 12px;
    /* backdrop-filter: invert(90%); */
}
.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
    /* text-shadow: 2px 2px rgb(202, 241, 8); */
}

.register-btn {
    background-color: #101010;
    font-size: 1.1rem;
    padding: 0.5em 1em;
    border: 3px solid #f7df1e;
    border-radius: 8px;
    color: #f8f9fa;
    transition: 1s;
}

.register-btn:hover {
    background-color: #f7df1e;
    color: #101010;
}

@media (max-width: 768px) {
    .intro {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

/* Slider section styling starts here */
.slider-wrapper {
    position: relative;
    border: 1px solid transparent;
}
.slider-section {
    width: 100%;
    backdrop-filter: blur(10px);
    padding: 2em 0;
    margin-top: 3em;
    overflow: hidden;
}

.slider-section.ss2 {
    position: absolute;
    top: 0px;

    .slider {
        animation: slide-two 20s linear infinite;
    }
}
.slider {
    display: flex;
    justify-content: space-around;
    animation: slide 20s linear infinite;
}

.slider i {
    font-size: 3em;
    margin: 0 1em;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
@keyframes slide-two {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    50.1% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Seminar days section style starts here */

.seminar-days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5em 2em;
    margin: 0.5em 2em;
    border: 2px solid #eaff00;
    .seminar-card {
        background-color: #101010;
        color: #f8f9fa;
        margin: 1em;
        border: 2px solid #eaff00;
        box-shadow: 1em 1em 0em -0.1em #4c803c;
    }
}

/* footer style starts here */

footer {
    background-color: #343a40;
    color: #fff;
    font-size: 10px;
    padding: 1em;
    width: 100%;
    position: fixed;
    /* bottom: 0; */
}
