body {
    font-family: 'Poppins', system-ui;
    background-color: #343a40;
    color: #f8f9fa;
    /* background-image: url(../images/background.jpg);
    min-height: 150vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(15px); */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}

@media (max-width: 480px) {
    header {
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
        padding: 2em 1em;
    }
    nav ul li {
        font-size: 12px;
    }
}

/* Logo style */

.logo.outlined {
    padding: 0.5em 1em;
    margin-left: 1em;
    border: 2px solid #eaff00;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
    background-color: #101010;
}

.logo.outlined a {
    text-decoration: none;
    color: #f8f9fa;
    font-family: 'Poppins', system-ui;
    transition: 1s;
    text-shadow: 1px 1px rgb(51, 61, 2);
}

.logo.outlined a:hover {
    color: #101010;
    text-shadow: none;
}

.logo.outlined:hover {
    background-color: #ccff00;
    border-color: #0056b3;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: flex;
    flex: 1;
}

nav ul li > *:hover {
    border-color: #ced4da;
    background-color: rgb(209, 219, 228);
    color: rgb(78, 77, 77);
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #f8f9fa;
    padding: 0.5em 1em;
    transition: 0.5s;
}

/* Style for Intro starts here */

.title-border {
    color: #eaff00;
    text-shadow: 3px 3px rgb(7, 7, 6);
}

.intro {
    margin: 1em 2em;
    padding: 1em 2em;
    /* backdrop-filter: blur(10px); */
    border-radius: 12px;
    /* backdrop-filter: invert(90%); */
}
.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
}

.register-btn {
    background-color: #101010;
    font-size: 1.1rem;
    padding: 0.5em 1em;
    border: 3px solid #f7df1e;
    border-radius: 8px;
    color: #f8f9fa;
    transition: 1s;
}

.register-btn:hover {
    background-color: #f7df1e;
    color: #101010;
}

@media (max-width: 768px) {
    .intro {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

/* Slider section styling starts here */
.slider-wrapper {
    position: relative;
    border: 1px solid transparent;
}
.slider-section {
    width: 100%;
    padding: 2em 0;
    margin-top: 3em;
    overflow: hidden;
}

.slider-section.ss2 {
    position: absolute;
    top: 0px;
    .slider {
        animation: slide-two 30s linear infinite;
    }
}
.slider {
    display: flex;
    justify-content: space-around;
    animation: slide 30s linear infinite;
}

.slider i {
    font-size: 3em;
    margin: 0 1em;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
@keyframes slide-two {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    50.1% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@media (max-width: 768px) {
    .slider i {
        font-size: 4rem;
        margin: 0.5em;
    }
}

@media (max-width: 480px) {
    .slider i {
        font-size: 3rem;
        margin: 0.5em;
    }
}

/* Seminar days section style starts here */

.seminar-days-section {
    h2 {
        text-align: center;
        margin-top: 4em;
    }
}
.seminar-days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-content: center;
    padding: 3em 2em;
}

.seminar-card {
    background-color: #f3f1d3;
    border: 3px solid #f7df1e;
    border-radius: 8px;
    padding: 1.5em;
    max-width: 250px;
    box-shadow: 0.5em 0.5em 0em -0.1em #525931;
    text-align: center;
    transition: transform 0.3s ease;
}

.seminar-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    color: #a259ff;
}

.seminar-card h4 {
    color: #6c757d;
}

.seminar-card .p-1 {
    font-size: 1.1rem;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #495057;
}

.seminar-card .p-2 {
    color: #6c757d;
    font-size: 1rem;
    line-height: 1.5;
}

.seminar-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(233, 245, 2, 0.2);
}

@media (max-width: 768px) {
    .seminar-card {
        max-width: 100%;
    }
    .seminar-days {
        grid-template-columns: 1fr;
        place-items: center;
        /* width: 100%; */
    }
}

/* footer style starts here */

footer {
    background-color: #b5c8db;
    color: #fff;
    font-size: 10px;
    padding: 1em;
    width: 100%;
    height: 100vh;
    position: fixed;
    /* bottom: 0; */
}
